.quote-container {
  max-width: 60%;
  max-height: 30%;
  margin: 3%;
  padding: auto;
}

/* fix the sizing of the quotes because it's too big */
.quote-content {
  font-size: 15px;
  font-weight: bold;
}

.backg {
  background: linear-gradient(to bottom,#26c4b9, #43ff8b) !important;
}
