
.fontList {
  font-family: arial;
  color: rgb(50, 44, 44) !important;
}

.inner {
  background-color: #d8d2be;
  border-radius: 10px;
  max-width: 800px;
margin: 0 auto;
padding: 50px 20px;
text-align: center;

}

.readingListLine {
  border-left: solid 1px white;

}

.outer {
  background: linear-gradient(to bottom, #43ff8b, #26c4b9);
}

.readingList {
  box-shadow: 5px 5px rgba(19, 170, 216, 0.587) !important;
}
