.contact-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  background-color: #f2f2f2;
}

.contact-us h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-us p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.github-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.github-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 2rem;
  color: #333;
  transition: all 0.3s ease;
}

.github-icons a:hover {
  color: #4183c4;
}

.book-images {
  display: flex; /* display the images in a row */
  justify-content: center; /* center the images horizontally */
}

.book-images img {
  width: 120px; /* set the width of the images */
  margin: 0 10px; /* add some space between the images */
}
