.navbar {
  /* background: linear-gradient(to bottom, #cdfa03, #3dae68) !important; */
background: linear-gradient(to bottom,#26c4b9, #43ff8b) !important;
 
}

.navbar-item {
  color: white !important;
  

}

.readMe-logo {
  margin-left: 20px;
  width: 150px;
}

