.navbar {
  background: linear-gradient(to bottom, #cdfa03, #3dae68) !important;
  height: 25px;
}

.navbar-item {
  color: white !important;
  padding-bottom: 35px !important;

}

.readMe-logo {
  margin-left: 20px;
  width: 150px;
}

